<div class="container text-center" id="portfolio">
  <h1>Portfolio</h1>
  <div class="cards-container">
    <!-- CapVauban -->
    <div class="card">
     <div class="card-image" style="background-image: url(<%= image_path("cap-vauban.png") %>);">
     </div>
     <div class="card-info">
      <p>Holiday rental website for appartements in the south of France.</p>
      <p><strong>My role:</strong> Lead Developer (Freelance)</p>
      <p><strong>Technologies:</strong> Ruby on Rails, HTML5, CSS3, JavaScript, JQuery, Ajax, Google Maps API, Mailing, i18n &amp; Cloudinary</p>
    </div>
    <div class="card-title">
      <%= image_tag "logo-capvauban.png" %>
    </div>
    <a href="https://sites.google.com/site/capvauban/" class="btn btn-primary card-button">Before</a>
    <div class="card-date">
      <p>2017</p>
    </div>
    <a href="http://www.cap-vauban.com/" class="card-link" target="_blank"></a>
  </div>
  <!-- LikeMinded -->
  <div class="card">
   <div class="card-image" style="background-image: url(<%= image_path("likeminded.png") %>);">
   </div>
   <div class="card-info">
    <p>Survey based platform to create personalised travel guides with recommendations from your friends and relatives.</p>
    <p><strong>My role:</strong> Lead Developer</p>
    <p><strong>Technologies:</strong> Ruby on Rails, HTML5, CSS3, JavaScript, JQuery, Ajax, Google Maps API, Facebook API &amp; Cloudinary</p>
  </div>
  <div class="card-title">
    <%= image_tag "logo-likeminded.png" %>
  </div>
  <div class="card-date">
    <p>2016</p>
  </div>
    <a href="http://www.like-minded.tech/" class="card-link" target="_blank"></a>
</div>
<!-- GearUp -->
<div class="card">
  <div class="card-image" style="background-image: url(<%= image_path("gearup.png") %>);">
  </div>
  <div class="card-info">
    <p>Sports equipment rental platform (Airbnb clone for sports equipment)</p>
    <p><strong>My role:</strong> Lead Developer</p>
    <p><strong>Technologies:</strong> Ruby on Rails, HTML5, CSS3, JavaScript, JQuery, Ajax, Google Maps API &amp; Cloudinary</p>
  </div>
  <div class="card-title-smaller">
    <%= image_tag "logo-gearup.png" %>
  </div>
  <div class="card-date">
    <p>2016</p>
  </div>
  <a href="http://www.gear-up.online/" class="card-link" target="_blank"></a>
</div>
</div>
</div>
