<div class="container text-center" id="portfolio">
  <h1>Portfolio</h1>
  <div class="cards-container">

    <!-- Elephant & Castle -->
    <div class="card">
      <div class="card-image" style="background-image: url(<%= image_path("elephant.png") %>);">
      </div>
      <div class="card-info">
        <p>Travel blog website, with articles, videos and pictures</p>
        <p><strong>My role:</strong> Developer (Freelance)</p>
        <p><strong>Contribution:</strong> 100%</p>
        <p><strong>Technologies:</strong> Ruby on Rails, HTML5, CSS3, WYSIWYG, Cloudinary &amp; ElasticSearch</p>
      </div>
      <div class="card-title">
        <%= image_tag "logo-elephant.png" %>
      </div>
      <div class="card-date">
        <p>2017</p>
      </div>
      <a href="http://www.elephantandcastle.co/" class="card-link"></a>

    </div>


    <!-- Beatrice Kosowski -->
    <div class="card">
      <div class="card-image" style="background-image: url(<%= image_path("art-website.png") %>);">
      </div>
      <div class="card-info">
        <p>A simple art gallery website to display a client's paintings</p>
        <p><strong>My role:</strong> Developer (Freelance)</p>
        <p><strong>Contribution:</strong> 100%</p>
        <p><strong>Technologies:</strong> Ruby on Rails, HTML5, CSS3 &amp; Cloudinary</p>
      </div>
      <div class="card-title">
        <%= image_tag "logo-art.png" %>
      </div>
      <div class="card-date">
        <p>2017</p>
      </div>
      <a href="http://www.beatricekosowski.com/" class="card-link"></a>

    </div>

    <!-- CapVauban -->
    <div class="card">
     <div class="card-image" style="background-image: url(<%= image_path("cap-vauban.png") %>);">
     </div>
     <div class="card-info">
      <p>Holiday rental website for appartements in the south of France.</p>
      <p><strong>My role:</strong> Developer (Freelance)</p>
      <p><strong>Contribution:</strong> 100%</p>
      <p><strong>Technologies:</strong> Ruby on Rails, HTML5, CSS3, JavaScript, JQuery, Ajax, Google Maps API, Mailing, i18n &amp; Cloudinary</p>
    </div>
    <div class="card-title">
      <%= image_tag "logo-capvauban.png" %>
    </div>
    <a href="https://sites.google.com/site/capvauban/" class="btn btn-primary card-button" target="_blank">Before</a>
    <div class="card-date">
      <p>2017</p>
    </div>
    <%= link_to "", cap_vauban_path, class: "card-link" %>
  </div>

  <!-- LikeMinded -->
  <div class="card">
   <div class="card-image" style="background-image: url(<%= image_path("likeminded.png") %>);">
   </div>
   <div class="card-info">
    <p>Survey based platform to create personalised travel guides with recommendations from your friends and relatives.</p>
    <p><strong>My role:</strong> Lead Developer</p>
    <p><strong>Contribution:</strong> 30%</p>
    <p><strong>Technologies:</strong> Ruby on Rails, HTML5, CSS3, JavaScript, JQuery, Ajax, Google Maps API, Facebook API &amp; Cloudinary</p>
  </div>
  <div class="card-title">
    <%= image_tag "logo-likeminded.png" %>
  </div>
  <div class="card-date">
    <p>2016</p>
  </div>
  <%= link_to "", likeminded_path, class: "card-link" %>
</div>

<!-- GearUp -->
<div class="card">
  <div class="card-image" style="background-image: url(<%= image_path("gearup.png") %>);">
  </div>
  <div class="card-info">
    <p>Sports equipment rental platform (Airbnb clone for sports equipment)</p>
    <p><strong>My role:</strong> Lead Developer</p>
    <p><strong>Contribution:</strong> 50%</p>
    <p><strong>Technologies:</strong> Ruby on Rails, HTML5, CSS3, JavaScript, JQuery, Ajax, Google Maps API &amp; Cloudinary</p>
  </div>
  <div class="card-title-smaller">
    <%= image_tag "logo-gearup.png" %>
  </div>
  <div class="card-date">
    <p>2016</p>
  </div>
  <%= link_to "", gearup_path, class: "card-link" %>
</div>
</div>
</div>
