<div class="container text-center" id="skills">
  <h1>Skills</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="skills-titles">
        <h3>Technologies</h3>
      </div>
      <div class="skills-container">
        <div class="product-skills">
          <%= image_tag "ruby.png", class: "product-skills-image" %>
          <div class='product-skills-body hidden-xs'>
            <h3>Ruby on Rails</h3>
          </div>
        </div>
        <div class="product-skills">
          <%= image_tag "js.png", class: "product-skills-image" %>
          <div class='product-skills-body hidden-xs'>
            <h3>JavaScript</h3>
          </div>
        </div>

        <div class="product-skills">
          <%= image_tag "html.png", class: "product-skills-image" %>
          <div class='product-skills-body hidden-xs'>
            <h3>HTML 5</h3>
          </div>
        </div>

        <div class="product-skills">
          <%= image_tag "css.png", class: "product-skills-image" %>
          <div class='product-skills-body hidden-xs'>
            <h3>CSS 3</h3>
          </div>
        </div>
        <div class="product-skills">
          <%= image_tag "ajax.png", class: "product-skills-image" %>
          <div class='product-skills-body hidden-xs'>
            <h3>Ajax</h3>
          </div>
        </div>
        <div class="product-skills">
          <%= image_tag "jquery.png", class: "product-skills-image" %>
          <div class='product-skills-body hidden-xs'>
            <h3>JQuery</h3>
          </div>
        </div>
        <div class="product-skills">
          <%= image_tag "sql.png", class: "product-skills-image" %>
          <div class='product-skills-body hidden-xs'>
            <h3>MySQL</h3>
          </div>
        </div>

        <div class="product-skills">
          <%= image_tag "postgre.png", class: "product-skills-image" %>
          <div class='product-skills-body hidden-xs'>
            <h3>PostgreSQL</h3>
          </div>
        </div>

        <div class="product-skills">
          <%= image_tag "command.png", class: "product-skills-image" %>
          <div class='product-skills-body hidden-xs'>
            <h3>Command Line</h3>
          </div>
        </div>
        <div class="product-skills">
          <%= image_tag "bootstrap.png", class: "product-skills-image" %>
          <div class='product-skills-body hidden-xs'>
            <h3>Bootstrap</h3>
          </div>
        </div>

        <div class="product-skills">
          <%= image_tag "heroku.png", class: "product-skills-image" %>
          <div class='product-skills-body hidden-xs'>
            <h3>Heroku</h3>
          </div>
        </div>

        <div class="product-skills">
          <%= image_tag "github.png", class: "product-skills-image" %>
          <div class='product-skills-body hidden-xs'>
            <h3>Github</h3>
          </div>
        </div>

        <div class="product-skills">
          <%= image_tag "sketch.png", class: "product-skills-image" %>
          <div class='product-skills-body hidden-xs'>
            <h3>Sketch</h3>
          </div>
        </div>
      </div>
      <div class="skills-titles">
        <h3>Languages</h3>
      </div>
      <div class="skills-container">
        <div class="product-skills">
          <%= image_tag "france.png", class: "product-skills-image" %>
          <div class='product-skills-body hidden-xs'>
            <h3>French</h3>
            <p>Mother tongue</p>
          </div>
        </div>
        <div class="product-skills">
          <%= image_tag "italy.png", class: "product-skills-image" %>
          <div class='product-skills-body hidden-xs'>
            <h3>Italian</h3>
            <p>Fluent</p>
          </div>
        </div>
        <div class="product-skills">
          <%= image_tag "uk.png", class: "product-skills-image" %>
          <div class='product-skills-body hidden-xs'>
            <h3>English</h3>
            <p>Fluent</p>
          </div>
        </div>
        <div class="product-skills">
          <%= image_tag "spain.png", class: "product-skills-image" %>
          <div class='product-skills-body hidden-xs'>
            <h3>Spanish</h3>
            <p>Intermediate</p>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden-xs col-sm-4 skills-list">
      <%= image_tag "avatar2.JPG", class: "avatar-large aboutme-avatar" %>
      <h4>My tool belt</h4>
      <ul>
       <li><i class="fa fa-laptop" aria-hidden="true"></i> Macbook Pro</li>
       <li><i class="fa fa-code" aria-hidden="true"></i> Ruby on Rails</li>
       <li><i class="fa fa-file-code-o" aria-hidden="true"></i> Sublime Text</li>
       <li><i class="fa fa-terminal" aria-hidden="true"></i> Command Line</li>
       <li><i class="fa fa-paint-brush" aria-hidden="true"></i> Sketch</li>
       <li><i class="fa fa-film" aria-hidden="true"></i> iMovie</li>
     </ul>
     <div class="facts-card hidden-xs">
      <i class="fa fa-github"></i>
      <p><%= @contribution %> in <%= Date.today.year %></p>
    </div>
  </div>
</div>
</div>
</div>
