<div class="container text-center" id="skills">
  <h1>Skills</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="skills-titles">
        <h3>Computing languages</h3>
        <div class="product-skills">
          <%= image_tag "html.png", class: "product-skills-image" %>
          <div class='product-skills-body'>
            <h3>HTML5 <span>Junior</span></h3>
          </div>
        </div>
        <div class="product-skills">
          <%= image_tag "css.png", class: "product-skills-image" %>
          <div class='product-skills-body'>
            <h3>CSS3 <span>Junior</span></h3>
          </div>
        </div>
        <div class="product-skills">
          <%= image_tag "js.png", class: "product-skills-image" %>
          <div class='product-skills-body'>
            <h3>JavaScript <span>Junior</span></h3>
          </div>
        </div>
        <div class="product-skills">
          <%= image_tag "ruby.png", class: "product-skills-image" %>
          <div class='product-skills-body'>
            <h3>Ruby on Rails <span>Junior</span></h3>
          </div>
        </div>
        <div class="product-skills">
          <%= image_tag "sql.png", class: "product-skills-image" %>
          <div class='product-skills-body'>
            <h3>SQL <span>Junior</span></h3>
          </div>
        </div>
        <div class="product-skills">
          <%= image_tag "jquery.png", class: "product-skills-image" %>
          <div class='product-skills-body'>
            <h3>JQuery<span>Junior</span></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="skills-titles">
        <h3>Languages</h3>
        <div class="product-skills">
          <%= image_tag "france.png", class: "product-skills-image" %>
          <div class='product-skills-body'>
          <h3>French <span>Mother tongue</span></h3>
          </div>
        </div>
        <div class="product-skills">
          <%= image_tag "uk.png", class: "product-skills-image" %>
          <div class='product-skills-body'>
          <h3>English <span>Fluent</span></h3>
          </div>
        </div>
        <div class="product-skills">
          <%= image_tag "italy.png", class: "product-skills-image" %>
          <div class='product-skills-body'>
          <h3>Italian <span>Fluent</span></h3>
          </div>
        </div>
        <div class="product-skills">
          <%= image_tag "spain.png", class: "product-skills-image" %>
          <div class='product-skills-body'>
            <h3>Spanish <span>Intermediate</span></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
