<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 50%), url(<%= image_path "banner#{[1,2,3,4].sample}.jpg" %>);">
	<div class="banner-content">
		<%= image_tag "logo.png" %>
		<h1>Arthur Littmann</h1>
		<p>I am a business oriented fullstack developer.</p>
		<a href="#portfolio"><i class="fa fa-angle-down hidden-xs" aria-hidden="true"></i></a>

  </div>
  <a href="#" class="back-to-top hidden-xs" style="background: #00C4C6 url(<%= image_path "up-arrow.png" %>) no-repeat center 43%;"></a>

</div>
<%= render "portfolio" %>
<%= render "aboutme" %>
<%= render "skills" %>
<%= render "recommendations" %>
<%= render "map" %>
<%= render "videos" %>

<% content_for(:after_js) do %>
<script>
  var amountScrolled = 100;

  $(window).scroll(function() {
    if ( $(window).scrollTop() > amountScrolled ) {
      $('a.back-to-top').fadeIn('slow');
    } else {
      $('a.back-to-top').fadeOut('slow');
    }
  });
  $('a.back-to-top').click(function() {
    $('html, body').animate({
      scrollTop: 0
    }, 700);
    return false;
  });
</script>
<% end %>
