<!-- Page Content -->
<div class="container full-screen-container">

  <!-- Portfolio Item Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">
        <a href="http://www.cap-vauban.com/" target="_blank">
          <%= image_tag "logo-capvauban.png", class: "logo-large" %>
        </a>
      </h3>
    </div>
  </div>
  <!-- /.row -->

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <%= image_tag "cap-vauban.png", class: "img-responsive" %>
    </div>

    <div class="col-md-4">
      <div class="standard-flex">
        <h3>Project Description</h3>
        <p>Website created in 3 weeks for clients renting two flats in the South of France and wanting a well designed and simple website where people could make bookings and pay online, with an automatic mailing system.</p>
        <h3><small>Technologies used:</small></h3>
        <ul>
          <li>Ruby on Rails</li>
          <li>Javascript</li>
          <li>HTML &amp; CSS</li>
          <li>JQuery</li>
          <li>Stripe</li>
          <li>Google Maps &amp; Mailchimp APIs</li>
        </ul>
        <a href="http://www.cap-vauban.com/" target="_blank" class="project-button bg-website">
          <i class="fa fa-code"></i> Website
        </a>
        <a href="https://github.com/arthur-littm/cap-vauban/" target="_blank" class="project-button bg-github">
          <i class="fa fa-github"></i> Repository
        </a>
      </div>
    </div>

  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <div class="row">

    <div class="col-lg-12">
      <h3 class="page-header">Gallery</h3>
    </div>

    <div class="col-sm-6 col-xs-12">
      <%=  image_tag "cap1", class: "img-responsive portfolio-item"%>
    </div>

    <div class="col-sm-6 col-xs-12">
      <%=  image_tag "cap2", class: "img-responsive portfolio-item"%>
    </div>


    <div class="col-sm-6 col-xs-12">
      <%=  image_tag "cap3", class: "img-responsive portfolio-item"%>
    </div>

    <div class="col-sm-6 col-xs-12">
      <%=  image_tag "cap4", class: "img-responsive portfolio-item"%>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-12">
      <h3 class="page-header">Before</h3>
    </div>

    <div class="col-sm-6 col-xs-12">
      <a href="https://sites.google.com/site/cotejardinfr/bienvenue" target="_blank">
        <%=  image_tag "cap5", class: "img-responsive portfolio-item"%>
      </a>
    </div>

    <div class="col-sm-6 col-xs-12">
      <a href="https://sites.google.com/site/cotejardinfr/bienvenue" target="_blank">
        <%=  image_tag "cap6", class: "img-responsive portfolio-item"%>
      </a>
    </div>

  </div>
  <!-- /.row -->

  <hr>

</div>
<!-- /.container -->
