<!-- Page Content -->
<div class="container full-screen-container">

  <!-- Portfolio Item Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">
        <a href="http://www.gear-up.online/" target="_blank">
          <%= image_tag "logo-gearup.png", class: "logo-large" %>
        </a>
      </h3>
    </div>
  </div>
  <!-- /.row -->

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <%= image_tag "gearup.png", class: "img-responsive" %>
    </div>

    <div class="col-md-4">
      <div class="standard-flex">
        <h3>Project Description</h3>
        <p>Web app created in a team of 2 people in just one week. This is a Airbnb clone prototype for sports equipment rental, allowing travelers to rent the necessary gear on site rather than carrying their own.</p>
        <h3><small>Technologies used:</small></h3>
        <ul>
          <li>Ruby on Rails</li>
          <li>Javascript</li>
          <li>HTML &amp; CSS</li>
          <li>JQuery &amp; AJAX</li>
          <li>Google Maps API</li>
        </ul>
        <a href="http://www.gear-up.online/" target="_blank" class="project-button bg-website">
          <i class="fa fa-code"></i> Website
        </a>
        <a href="https://github.com/hdg678/rails-gearup" target="_blank" class="project-button bg-github">
          <i class="fa fa-github"></i> Repository
        </a>
      </div>
    </div>

  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <div class="row">

    <div class="col-lg-12">
      <h3 class="page-header">Gallery</h3>
    </div>

    <div class="col-sm-6 col-xs-12">
      <%=  image_tag "gearup1.png", class: "img-responsive portfolio-item"%>
    </div>

    <div class="col-sm-6 col-xs-12">
      <%=  image_tag "gearup2.png", class: "img-responsive portfolio-item"%>
    </div>


    <div class="col-sm-6 col-xs-12">
      <%=  image_tag "gearup3.png", class: "img-responsive portfolio-item"%>
    </div>

  </div>
  <!-- /.row -->

  <hr>

</div>
<!-- /.container -->
