<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Arthur Littmann</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <meta name="description" content="I am a business oriented fullstack developer." />

  <meta property="og:url"                content="http://www.arthurlittmann.com/" />
  <meta property="og:title"              content="Arthur Littmann" />
  <meta property="og:description"        content="I am a business oriented fullstack developer." />
  <meta property="og:image"              content="<%= image_path("facebook.png") %>"/>

  <link rel="icon" href="<%= image_path("favicon.png") %>">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <% if params[:action] == "home" %>
  <!-- Start of Async Drift Code -->
  <script>
    !function() {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
        t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
        t.factory = function(e) {
          return function() {
            var n;
            return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
          };
        }, t.methods.forEach(function(e) {
          t[e] = t.factory(e);
        }), t.load = function(t) {
          var e, n, o, i;
          e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
          o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
          n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
        });
    }();
  drift.SNIPPET_VERSION = '0.3.1';
  drift.load('uiupgwbghzvh');
</script>
<!-- End of Async Drift Code -->
<% end %>
</head>
<body style="background-color: whitesmoke;">
  <%= render 'shared/navbar' %>
  <%= yield %>
  <%= render 'shared/footer' %>
  <%= javascript_include_tag 'application' %>
  <%= yield(:after_js) %>
  <script>
// Hide Header on on scroll down
var didScroll;
var lastScrollTop = 0;
var delta = 5;
var navbarHeight = $('header').outerHeight();

$(window).scroll(function(event){
  didScroll = true;
});

setInterval(function() {
  if (didScroll) {
    hasScrolled();
    didScroll = false;
  }
}, 250);

function hasScrolled() {
  var st = $(this).scrollTop();

    // Make sure they scroll more than delta
    if(Math.abs(lastScrollTop - st) <= delta)
      return;

    // If they scrolled down and are past the navbar, add class .nav-up.
    // This is necessary so you never see what is "behind" the navbar.
    if (st > lastScrollTop && st > navbarHeight){
        // Scroll Down
        $('.navbar-wagon').removeClass('nav-down').addClass('nav-up');
      } else {
        // Scroll Up
        if(st + $(window).height() < $(document).height()) {
          $('.navbar-wagon').removeClass('nav-up').addClass('nav-down');
        }
      }

      lastScrollTop = st;
    }
  </script>
</body>
</html>
